{% load static %}
<!DOCTYPE html>
<html>
<title>Lost & Found Web Service</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<body id="myPage">



<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{% url 'home-page-2' %}" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="{% url 'profile-page' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Profile</a>
<!--   <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search <i class="fa fa-search"></i></a> -->

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Search &nbsp;&nbsp;&nbsp; <i class="fa fa-search"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{% url 'search-lost-object-page' %}" class="w3-bar-item w3-button">Lost Object</a>
      <a href="{% url 'search-found-object-page' %}" class="w3-bar-item w3-button">Found Object</a>
      <a href="{% url 'search-lost-person-page' %}" class="w3-bar-item w3-button">Lost Person</a>
      <a href="{% url 'search-found-person-page' %}" class="w3-bar-item w3-button">Found Person</a>
      <a href="{% url 'search-lost-pet-page' %}" class="w3-bar-item w3-button">Lost Pet</a>
      <a href="{% url 'search-found-pet-page' %}" class="w3-bar-item w3-button">Found Pet</a>

    </div>
  </div>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">View Posts <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{% url 'view-lost-object-page' %}" class="w3-bar-item w3-button">Lost Object</a>
      <a href="{% url 'view-found-object-page' %}" class="w3-bar-item w3-button">Found Object</a>
      <a href="{% url 'view-lost-person-page' %}" class="w3-bar-item w3-button">Lost Person</a>
       <a href="{% url 'view-found-person-page' %}" class="w3-bar-item w3-button">Found Person</a>
      <a href="{% url 'view-lost-pet-page' %}" class="w3-bar-item w3-button">Lost Pet</a>
      <a href="{% url 'view-found-pet-page' %}" class="w3-bar-item w3-button">Found Pet</a>
    </div>
  </div>



  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Report Item <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="{% url 'report-lost-object-page' %}" class="w3-bar-item w3-button">Lost Object</a>
      <a href="{% url 'report-found-object-page' %}" class="w3-bar-item w3-button">Found Object</a>
      <a href="{% url 'report-lost-person-page' %}" class="w3-bar-item w3-button">Lost Person</a>
      <a href="{% url 'report-found-person-page' %}" class="w3-bar-item w3-button">Found Person</a>
      <a href="{% url 'report-lost-pet-page' %}" class="w3-bar-item w3-button">Lost Pet</a>
      <a href="{% url 'report-found-pet-page' %}" class="w3-bar-item w3-button">Found Pet</a>
    </div>
  </div>

   

  <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a> -->

  <a href="{% url 'signout' %}" class="w3-bar-item w3-button w3-hide-small w3-right w3-teal"><i class="fa fa-sign-out"></i>Log Out</a>


 </div>

</div>


 {% block body %} {% endblock body %}









</body>
</html>
