<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Facebook2 -Delete post</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body style="height: 100vh; display: flex; justify-content: center; align-items: center;">

<div class="ui segment" style="min-width: 30%;">
	<h2 style="text-align: center ;">Delete Post</h2>

	
	<p style="text-align: center ;">Are you sure you want to delete the post ?</p>
	
	



<form class="ui form" method="POST" action="{% url 'delete-lost-person-page' old_post.id %}">
    	{% csrf_token %}
		

		
		
		 <p style="text-align: center; padding-top: 5p;"><button class="ui red big  button" type="submit">Delete</button>
		 <p style="text-align: center; padding: 5px"><a href="{% url 'my-lost-person-page' %}">Cancel</a></p>
</form>
</div>

</body>
</html>